ftvNodeRedFlowBluemix.json
[{"id":"c2fde7f1.56132","type":"modbus-read","z":"c3fd80f0.c3bfb","name":"Voltage","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"InputRegister","adr":"0","quantity":"1","rate":"1","rateUnit":"m","server":"851800c7.6d96b","x":104,"y":108,"wires":[["9cbe2137.7efc88"],[]]},{"id":"9cbe2137.7efc88","type":"function","z":"c3fd80f0.c3bfb","name":"Voltage","func":"var rawData = new ArrayBuffer(4);\nvar intView = new Uint16Array(rawData);\nvar fltView = new Float32Array(rawData);\n\nintView[0] = msg.payload[1]; //low\nintView[1] = msg.payload[0]; //high\n\nmsg.payload = parseFloat(fltView[0].toFixed(1));\nmsg.topic = \"voltage\";\n\nnode.status({fill:\"blue\",shape:\"ring\",text:msg.topic + \": \" + msg.payload});    \n\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":101,"wires":[["704b502a.453ec","569334c0.f41984"]]},{"id":"b4d251e5.1173a8","type":"modbus-read","z":"c3fd80f0.c3bfb","name":"Current","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"InputRegister","adr":"6","quantity":"1","rate":"1","rateUnit":"m","server":"851800c7.6d96b","x":102,"y":204,"wires":[["84248e1f.ca1af8"],[]]},{"id":"84248e1f.ca1af8","type":"function","z":"c3fd80f0.c3bfb","name":"Current","func":"var rawData = new ArrayBuffer(4);\nvar intView = new Uint16Array(rawData);\nvar fltView = new Float32Array(rawData);\n\nintView[0] = msg.payload[1]; //low\nintView[1] = msg.payload[0]; //high\n\nmsg.payload = parseFloat(fltView[0].toFixed(1));\nmsg.topic = \"current\";\n\nnode.status({fill:\"blue\",shape:\"ring\",text:msg.topic + \": \" + msg.payload});    \n\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":197,"wires":[["11b7adee.64b1da","41cebaca.687bbc"]]},{"id":"ca4aafe1.fb67a","type":"modbus-read","z":"c3fd80f0.c3bfb","name":"Power","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"InputRegister","adr":"12","quantity":"1","rate":"1","rateUnit":"m","server":"851800c7.6d96b","x":103,"y":301,"wires":[["aee04daa.44e18"],[]]},{"id":"aee04daa.44e18","type":"function","z":"c3fd80f0.c3bfb","name":"Power","func":"var rawData = new ArrayBuffer(4);\nvar intView = new Uint16Array(rawData);\nvar fltView = new Float32Array(rawData);\n\nintView[0] = msg.payload[1]; //low\nintView[1] = msg.payload[0]; //high\n\nmsg.payload = -1*parseFloat(fltView[0].toFixed(1));\nmsg.topic = \"power\";\n\nnode.status({fill:\"blue\",shape:\"ring\",text:msg.topic + \": \" + msg.payload});    \n\nreturn msg;","outputs":1,"noerr":0,"x":332,"y":294,"wires":[["a5520c5b.4af5f","ab7cf341.276428"]]},{"id":"1a3d52bc.b4f295","type":"function","z":"c3fd80f0.c3bfb","name":"Frequency","func":"var rawData = new ArrayBuffer(4);\nvar intView = new Uint16Array(rawData);\nvar fltView = new Float32Array(rawData);\n\nintView[0] = msg.payload[1]; //low\nintView[1] = msg.payload[0]; //high\n\nmsg.payload = parseFloat(fltView[0].toFixed(1));\nmsg.topic = \"frequency\";\n\nnode.status({fill:\"blue\",shape:\"ring\",text:msg.topic + \": \" + msg.payload});    \n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":390,"wires":[["ee195717.a0d05","7acb6977.20c7"]]},{"id":"c840623e.64fc08","type":"function","z":"c3fd80f0.c3bfb","name":"Energy","func":"var rawData = new ArrayBuffer(4);\nvar intView = new Uint16Array(rawData);\nvar fltView = new Float32Array(rawData);\n\nintView[0] = msg.payload[1]; //low\nintView[1] = msg.payload[0]; //high\n\nmsg.payload = parseFloat(fltView[0].toFixed(1));\nmsg.topic = \"energy\";\n\nnode.status({fill:\"blue\",shape:\"ring\",text:msg.topic + \": \" + msg.payload});    \n\nreturn msg;","outputs":1,"noerr":0,"x":333,"y":490,"wires":[["34c37254.986076","5a76df9d.600ab"]]},{"id":"15e43ad8.76258d","type":"modbus-read","z":"c3fd80f0.c3bfb","name":"Frequnecy","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"InputRegister","adr":"70","quantity":"1","rate":"1","rateUnit":"m","server":"851800c7.6d96b","x":113,"y":396,"wires":[["1a3d52bc.b4f295"],[]]},{"id":"a2f2a4f6.128e38","type":"modbus-read","z":"c3fd80f0.c3bfb","name":"Energy","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"InputRegister","adr":"342","quantity":"1","rate":"1","rateUnit":"m","server":"851800c7.6d96b","x":101,"y":497,"wires":[["c840623e.64fc08"],[]]},{"id":"42d0f901.fbffc8","type":"join","z":"c3fd80f0.c3bfb","name":"Collect Data","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"15","count":"10","x":870,"y":560,"wires":[["f908edcf.2c8f4"]]},{"id":"c6c714c1.bf586","type":"mysql","z":"c3fd80f0.c3bfb","mydb":"8a39d005.83387","name":"Save Data","x":1253.666748046875,"y":560.0000305175781,"wires":[[]]},{"id":"f908edcf.2c8f4","type":"function","z":"c3fd80f0.c3bfb","name":"Set Insert","func":"var allValues = msg.payload;\nvar fields = allValues.split(',');\nmsg.topic='insert into rs485data set ftv_voltage='+fields[0]+',ftv_current='+fields[1]+',ftv_power='+fields[2]+',ftv_frequency='+fields[3]+',ftv_energy='+fields[4]+',con_voltage='+fields[5]+',con_current='+fields[6]+',con_power='+fields[7]+',con_frequency='+fields[8]+',con_energy='+fields[9]+';';\n\nreturn msg;","outputs":1,"noerr":0,"x":1065.666748046875,"y":560.3333435058594,"wires":[["c6c714c1.bf586"]]},{"id":"62aa21ae.b57af","type":"comment","z":"c3fd80f0.c3bfb","name":"FTV","info":"","x":105,"y":32,"wires":[]},{"id":"78a8a542.f2426c","type":"modbus-read","z":"c3fd80f0.c3bfb","name":"Voltage","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"InputRegister","adr":"0","quantity":"1","rate":"1","rateUnit":"m","server":"49c51df7.41558c","x":99,"y":654,"wires":[["7eb52d9c.46446c"],[]]},{"id":"c20f6ee2.1ed678","type":"modbus-read","z":"c3fd80f0.c3bfb","name":"Current","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"InputRegister","adr":"6","quantity":"1","rate":"1","rateUnit":"m","server":"49c51df7.41558c","x":97,"y":759,"wires":[["59868d6c.49ad94"],[]]},{"id":"7763b556.530a8c","type":"modbus-read","z":"c3fd80f0.c3bfb","name":"Power","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"InputRegister","adr":"12","quantity":"1","rate":"1","rateUnit":"m","server":"49c51df7.41558c","x":98,"y":859,"wires":[["d76d1be3.59e67"],[]]},{"id":"66aaf70e.68c128","type":"modbus-read","z":"c3fd80f0.c3bfb","name":"Frequency","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"InputRegister","adr":"70","quantity":"1","rate":"1","rateUnit":"m","server":"49c51df7.41558c","x":104,"y":954,"wires":[["521af0d3.d3482"],[]]},{"id":"8e7ec792.59f338","type":"modbus-read","z":"c3fd80f0.c3bfb","name":"Energy","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"InputRegister","adr":"342","quantity":"1","rate":"1","rateUnit":"m","server":"49c51df7.41558c","x":93,"y":1050,"wires":[["6410ae29.e8a978"],[]]},{"id":"7eb52d9c.46446c","type":"function","z":"c3fd80f0.c3bfb","name":"Voltage","func":"var rawData = new ArrayBuffer(4);\nvar intView = new Uint16Array(rawData);\nvar fltView = new Float32Array(rawData);\n\nintView[0] = msg.payload[1]; //low\nintView[1] = msg.payload[0]; //high\n\nmsg.payload = parseFloat(fltView[0].toFixed(1));\nmsg.topic = \"voltage\";\n\nnode.status({fill:\"blue\",shape:\"ring\",text:msg.topic + \": \" + msg.payload});    \n\nreturn msg;","outputs":1,"noerr":0,"x":338,"y":647.5,"wires":[["df77af1a.96f9c","8ef5b0db.49089"]]},{"id":"59868d6c.49ad94","type":"function","z":"c3fd80f0.c3bfb","name":"Current","func":"var rawData = new ArrayBuffer(4);\nvar intView = new Uint16Array(rawData);\nvar fltView = new Float32Array(rawData);\n\nintView[0] = msg.payload[1]; //low\nintView[1] = msg.payload[0]; //high\n\nmsg.payload = parseFloat(fltView[0].toFixed(1));\nmsg.topic = \"current\";\n\nnode.status({fill:\"blue\",shape:\"ring\",text:msg.topic + \": \" + msg.payload});    \n\nreturn msg;","outputs":1,"noerr":0,"x":339,"y":752.5,"wires":[["a9397faf.61a2b8","c7a18ae6.df8d"]]},{"id":"d76d1be3.59e67","type":"function","z":"c3fd80f0.c3bfb","name":"Power","func":"var rawData = new ArrayBuffer(4);\nvar intView = new Uint16Array(rawData);\nvar fltView = new Float32Array(rawData);\n\nintView[0] = msg.payload[1]; //low\nintView[1] = msg.payload[0]; //high\n\nmsg.payload = parseFloat(fltView[0].toFixed(1));\nmsg.topic = \"power\";\n\nnode.status({fill:\"blue\",shape:\"ring\",text:msg.topic + \": \" + msg.payload});    \n\nreturn msg;","outputs":1,"noerr":0,"x":332,"y":852.5,"wires":[["20b84eca.52e8a2","b509466a.3cd91"]]},{"id":"521af0d3.d3482","type":"function","z":"c3fd80f0.c3bfb","name":"Frequency","func":"var rawData = new ArrayBuffer(4);\nvar intView = new Uint16Array(rawData);\nvar fltView = new Float32Array(rawData);\n\nintView[0] = msg.payload[1]; //low\nintView[1] = msg.payload[0]; //high\n\nmsg.payload = parseFloat(fltView[0].toFixed(1));\nmsg.topic = \"frequency\";\n\nnode.status({fill:\"blue\",shape:\"ring\",text:msg.topic + \": \" + msg.payload});    \n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":946.5,"wires":[["9d257a46.5bd6d8","1b4f68ce.650837"]]},{"id":"6410ae29.e8a978","type":"function","z":"c3fd80f0.c3bfb","name":"Energy","func":"var rawData = new ArrayBuffer(4);\nvar intView = new Uint16Array(rawData);\nvar fltView = new Float32Array(rawData);\n\nintView[0] = msg.payload[1]; //low\nintView[1] = msg.payload[0]; //high\n\nmsg.payload = parseFloat(fltView[0].toFixed(1));\nmsg.topic = \"energy\";\n\nnode.status({fill:\"blue\",shape:\"ring\",text:msg.topic + \": \" + msg.payload});    \n\nreturn msg;","outputs":1,"noerr":0,"x":329,"y":1043.5,"wires":[["68875ae7.8d8c84","20bfbd94.57f23a"]]},{"id":"d8798519.f6c46","type":"comment","z":"c3fd80f0.c3bfb","name":"CON","info":"","x":99,"y":586.5,"wires":[]},{"id":"704b502a.453ec","type":"delay","z":"c3fd80f0.c3bfb","name":"","pauseType":"delay","timeout":"0","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":562.5,"y":99.75,"wires":[["42d0f901.fbffc8"]]},{"id":"11b7adee.64b1da","type":"delay","z":"c3fd80f0.c3bfb","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":559.5,"y":196.75,"wires":[["42d0f901.fbffc8"]]},{"id":"a5520c5b.4af5f","type":"delay","z":"c3fd80f0.c3bfb","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":561.5,"y":293.75,"wires":[["42d0f901.fbffc8"]]},{"id":"ee195717.a0d05","type":"delay","z":"c3fd80f0.c3bfb","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":562.5,"y":389.75,"wires":[["42d0f901.fbffc8"]]},{"id":"34c37254.986076","type":"delay","z":"c3fd80f0.c3bfb","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":560.5,"y":488.75,"wires":[["42d0f901.fbffc8"]]},{"id":"df77af1a.96f9c","type":"delay","z":"c3fd80f0.c3bfb","name":"","pauseType":"delay","timeout":"8","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":549,"y":647.5,"wires":[["42d0f901.fbffc8"]]},{"id":"a9397faf.61a2b8","type":"delay","z":"c3fd80f0.c3bfb","name":"","pauseType":"delay","timeout":"9","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":549,"y":751.5,"wires":[["42d0f901.fbffc8"]]},{"id":"20b84eca.52e8a2","type":"delay","z":"c3fd80f0.c3bfb","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":553,"y":852.5,"wires":[["42d0f901.fbffc8"]]},{"id":"9d257a46.5bd6d8","type":"delay","z":"c3fd80f0.c3bfb","name":"","pauseType":"delay","timeout":"11","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":550,"y":946.5,"wires":[["42d0f901.fbffc8"]]},{"id":"68875ae7.8d8c84","type":"delay","z":"c3fd80f0.c3bfb","name":"","pauseType":"delay","timeout":"12","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":551,"y":1042.5,"wires":[["42d0f901.fbffc8"]]},{"id":"569334c0.f41984","type":"wiotp out","z":"c3fd80f0.c3bfb","authType":"g","qs":"false","qsDeviceId":"","deviceKey":"8ab4841c.a57d88","deviceType":"Voltage-Sensor","deviceId":"PV-Voltage","event":"event","format":"json","qos":"2","name":"PV-Voltage","x":572,"y":52,"wires":[]},{"id":"41cebaca.687bbc","type":"wiotp out","z":"c3fd80f0.c3bfb","authType":"g","qs":"false","qsDeviceId":"","deviceKey":"8ab4841c.a57d88","deviceType":"Current-Sensor","deviceId":"PV-Current","event":"event","format":"json","qos":"2","name":"PV-Current","x":571.4285714285713,"y":149.42857142857142,"wires":[]},{"id":"ab7cf341.276428","type":"wiotp out","z":"c3fd80f0.c3bfb","authType":"g","qs":"false","qsDeviceId":"","deviceKey":"8ab4841c.a57d88","deviceType":"Power-Sensor","deviceId":"PV-Power","event":"event","format":"json","qos":"2","name":"PV-Power","x":560,"y":247,"wires":[]},{"id":"7acb6977.20c7","type":"wiotp out","z":"c3fd80f0.c3bfb","authType":"g","qs":"false","qsDeviceId":"","deviceKey":"8ab4841c.a57d88","deviceType":"Frequency-Sensor","deviceId":"PV-Frequency","event":"event","format":"json","qos":"2","name":"PV-Frequency","x":580.2857142857142,"y":343.57142857142856,"wires":[]},{"id":"5a76df9d.600ab","type":"wiotp out","z":"c3fd80f0.c3bfb","authType":"g","qs":"false","qsDeviceId":"","deviceKey":"8ab4841c.a57d88","deviceType":"Energy-Sensor","deviceId":"PV-Energy","event":"event","format":"json","qos":"2","name":"PV-Energy","x":567.8571428571428,"y":441.85714285714283,"wires":[]},{"id":"8ef5b0db.49089","type":"wiotp out","z":"c3fd80f0.c3bfb","authType":"g","qs":"false","qsDeviceId":"","deviceKey":"8ab4841c.a57d88","deviceType":"Voltage-Sensor","deviceId":"CN-Voltage","event":"event","format":"json","qos":"2","name":"CN-Voltage","x":559,"y":600,"wires":[]},{"id":"c7a18ae6.df8d","type":"wiotp out","z":"c3fd80f0.c3bfb","authType":"g","qs":"false","qsDeviceId":"","deviceKey":"8ab4841c.a57d88","deviceType":"Current-Sensor","deviceId":"CN-Current","event":"event","format":"json","qos":"2","name":"CN-Current","x":557.75,"y":703,"wires":[]},{"id":"b509466a.3cd91","type":"wiotp out","z":"c3fd80f0.c3bfb","authType":"g","qs":"false","qsDeviceId":"","deviceKey":"8ab4841c.a57d88","deviceType":"Power-Sensor","deviceId":"CN-Power","event":"event","format":"json","qos":"2","name":"CN-Power","x":562,"y":804,"wires":[]},{"id":"1b4f68ce.650837","type":"wiotp out","z":"c3fd80f0.c3bfb","authType":"g","qs":"false","qsDeviceId":"","deviceKey":"8ab4841c.a57d88","deviceType":"Frequency-Sensor","deviceId":"CN-Frequency","event":"event","format":"json","qos":"2","name":"CN-Frequency","x":568,"y":899,"wires":[]},{"id":"20bfbd94.57f23a","type":"wiotp out","z":"c3fd80f0.c3bfb","authType":"g","qs":"false","qsDeviceId":"","deviceKey":"8ab4841c.a57d88","deviceType":"Energy-Sensor","deviceId":"CN-Energy","event":"event","format":"json","qos":"2","name":"CN-Energy","x":559.75,"y":995,"wires":[]},{"id":"851800c7.6d96b","type":"modbus-client","z":"","name":"FTV","clienttype":"serial","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ftv","serialType":"RTU-BUFFERD","serialBaudrate":"2400","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":1,"commandDelay":1,"clientTimeout":1000,"reconnectTimeout":2000},{"id":"8a39d005.83387","type":"MySQLdatabase","z":"","host":"192.168.1.12","port":"3306","db":"ftvdb","tz":""},{"id":"49c51df7.41558c","type":"modbus-client","z":"","name":"CON","clienttype":"serial","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/con","serialType":"RTU-BUFFERD","serialBaudrate":"2400","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":1,"commandDelay":1,"clientTimeout":1000,"reconnectTimeout":2000},{"id":"8ab4841c.a57d88","type":"wiotp-credentials","z":"","name":"","org":"jnkr62","serverName":"","devType":"Raspberry-GW","devId":"IBM-Raspberry","keepalive":"60","cleansession":true,"tls":"","usetls":false}]
