ftvNodeRedFlow.json
[{"id":"c2fde7f1.56132","type":"modbus-read","z":"c3fd80f0.c3bfb","name":"Voltage","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"InputRegister","adr":"0","quantity":"1","rate":"1","rateUnit":"m","server":"851800c7.6d96b","x":104,"y":118,"wires":[["9cbe2137.7efc88"],[]]},{"id":"9cbe2137.7efc88","type":"function","z":"c3fd80f0.c3bfb","name":"Voltage","func":"var rawData = new ArrayBuffer(4);\nvar intView = new Uint16Array(rawData);\nvar fltView = new Float32Array(rawData);\n\nintView[0] = msg.payload[1]; //low\nintView[1] = msg.payload[0]; //high\n\nmsg.payload = parseFloat(fltView[0].toFixed(1));\nmsg.topic = \"voltage\";\n\nnode.status({fill:\"blue\",shape:\"ring\",text:msg.topic + \": \" + msg.payload});    \n\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":111,"wires":[["704b502a.453ec"]]},{"id":"b4d251e5.1173a8","type":"modbus-read","z":"c3fd80f0.c3bfb","name":"Current","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"InputRegister","adr":"6","quantity":"1","rate":"1","rateUnit":"m","server":"851800c7.6d96b","x":100,"y":173,"wires":[["84248e1f.ca1af8"],[]]},{"id":"84248e1f.ca1af8","type":"function","z":"c3fd80f0.c3bfb","name":"Current","func":"var rawData = new ArrayBuffer(4);\nvar intView = new Uint16Array(rawData);\nvar fltView = new Float32Array(rawData);\n\nintView[0] = msg.payload[1]; //low\nintView[1] = msg.payload[0]; //high\n\nmsg.payload = parseFloat(fltView[0].toFixed(1));\nmsg.topic = \"current\";\n\nnode.status({fill:\"blue\",shape:\"ring\",text:msg.topic + \": \" + msg.payload});    \n\nreturn msg;","outputs":1,"noerr":0,"x":338,"y":166,"wires":[["11b7adee.64b1da"]]},{"id":"ca4aafe1.fb67a","type":"modbus-read","z":"c3fd80f0.c3bfb","name":"Power","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"InputRegister","adr":"12","quantity":"1","rate":"1","rateUnit":"m","server":"851800c7.6d96b","x":101,"y":231,"wires":[["aee04daa.44e18"],[]]},{"id":"aee04daa.44e18","type":"function","z":"c3fd80f0.c3bfb","name":"Power","func":"var rawData = new ArrayBuffer(4);\nvar intView = new Uint16Array(rawData);\nvar fltView = new Float32Array(rawData);\n\nintView[0] = msg.payload[1]; //low\nintView[1] = msg.payload[0]; //high\n\nmsg.payload = -1*parseFloat(fltView[0].toFixed(1));\nmsg.topic = \"power\";\n\nnode.status({fill:\"blue\",shape:\"ring\",text:msg.topic + \": \" + msg.payload});    \n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":224,"wires":[["a5520c5b.4af5f"]]},{"id":"1a3d52bc.b4f295","type":"function","z":"c3fd80f0.c3bfb","name":"Frequency","func":"var rawData = new ArrayBuffer(4);\nvar intView = new Uint16Array(rawData);\nvar fltView = new Float32Array(rawData);\n\nintView[0] = msg.payload[1]; //low\nintView[1] = msg.payload[0]; //high\n\nmsg.payload = parseFloat(fltView[0].toFixed(1));\nmsg.topic = \"frequency\";\n\nnode.status({fill:\"blue\",shape:\"ring\",text:msg.topic + \": \" + msg.payload});    \n\nreturn msg;","outputs":1,"noerr":0,"x":345,"y":283,"wires":[["ee195717.a0d05"]]},{"id":"c840623e.64fc08","type":"function","z":"c3fd80f0.c3bfb","name":"Energy","func":"var rawData = new ArrayBuffer(4);\nvar intView = new Uint16Array(rawData);\nvar fltView = new Float32Array(rawData);\n\nintView[0] = msg.payload[1]; //low\nintView[1] = msg.payload[0]; //high\n\nmsg.payload = parseFloat(fltView[0].toFixed(1));\nmsg.topic = \"energy\";\n\nnode.status({fill:\"blue\",shape:\"ring\",text:msg.topic + \": \" + msg.payload});    \n\nreturn msg;","outputs":1,"noerr":0,"x":331,"y":340,"wires":[["34c37254.986076"]]},{"id":"15e43ad8.76258d","type":"modbus-read","z":"c3fd80f0.c3bfb","name":"Frequnecy","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"InputRegister","adr":"70","quantity":"1","rate":"1","rateUnit":"m","server":"851800c7.6d96b","x":108,"y":289,"wires":[["1a3d52bc.b4f295"],[]]},{"id":"a2f2a4f6.128e38","type":"modbus-read","z":"c3fd80f0.c3bfb","name":"Energy","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"InputRegister","adr":"342","quantity":"1","rate":"1","rateUnit":"m","server":"851800c7.6d96b","x":99,"y":347,"wires":[["c840623e.64fc08"],[]]},{"id":"42d0f901.fbffc8","type":"join","z":"c3fd80f0.c3bfb","name":"Collect Data","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"15","count":"10","x":831.333251953125,"y":455.9999694824219,"wires":[["f908edcf.2c8f4"]]},{"id":"c6c714c1.bf586","type":"mysql","z":"c3fd80f0.c3bfb","mydb":"8a39d005.83387","name":"Save Data","x":1215,"y":456,"wires":[[]]},{"id":"f908edcf.2c8f4","type":"function","z":"c3fd80f0.c3bfb","name":"Set Insert","func":"var allValues = msg.payload;\nvar fields = allValues.split(',');\nmsg.topic='insert into rs485data set ftv_voltage='+fields[0]+',ftv_current='+fields[1]+',ftv_power='+fields[2]+',ftv_frequency='+fields[3]+',ftv_energy='+fields[4]+',con_voltage='+fields[5]+',con_current='+fields[6]+',con_power='+fields[7]+',con_frequency='+fields[8]+',con_energy='+fields[9]+';';\n\nreturn msg;","outputs":1,"noerr":0,"x":1027,"y":456.33331298828125,"wires":[["c6c714c1.bf586"]]},{"id":"62aa21ae.b57af","type":"comment","z":"c3fd80f0.c3bfb","name":"FTV","info":"","x":101.5,"y":46.75,"wires":[]},{"id":"78a8a542.f2426c","type":"modbus-read","z":"c3fd80f0.c3bfb","name":"Voltage","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"InputRegister","adr":"0","quantity":"1","rate":"1","rateUnit":"m","server":"49c51df7.41558c","x":101.5,"y":560.25,"wires":[["7eb52d9c.46446c"],[]]},{"id":"c20f6ee2.1ed678","type":"modbus-read","z":"c3fd80f0.c3bfb","name":"Current","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"InputRegister","adr":"6","quantity":"1","rate":"1","rateUnit":"m","server":"49c51df7.41558c","x":99.5,"y":621.25,"wires":[["59868d6c.49ad94"],[]]},{"id":"7763b556.530a8c","type":"modbus-read","z":"c3fd80f0.c3bfb","name":"Power","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"InputRegister","adr":"12","quantity":"1","rate":"1","rateUnit":"m","server":"49c51df7.41558c","x":98.5,"y":676.25,"wires":[["d76d1be3.59e67"],[]]},{"id":"66aaf70e.68c128","type":"modbus-read","z":"c3fd80f0.c3bfb","name":"Frequency","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"InputRegister","adr":"70","quantity":"1","rate":"1","rateUnit":"m","server":"49c51df7.41558c","x":109.5,"y":728.25,"wires":[["521af0d3.d3482"],[]]},{"id":"8e7ec792.59f338","type":"modbus-read","z":"c3fd80f0.c3bfb","name":"Energy","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"InputRegister","adr":"342","quantity":"1","rate":"1","rateUnit":"m","server":"49c51df7.41558c","x":100.5,"y":782.25,"wires":[["6410ae29.e8a978"],[]]},{"id":"7eb52d9c.46446c","type":"function","z":"c3fd80f0.c3bfb","name":"Voltage","func":"var rawData = new ArrayBuffer(4);\nvar intView = new Uint16Array(rawData);\nvar fltView = new Float32Array(rawData);\n\nintView[0] = msg.payload[1]; //low\nintView[1] = msg.payload[0]; //high\n\nmsg.payload = parseFloat(fltView[0].toFixed(1));\nmsg.topic = \"voltage\";\n\nnode.status({fill:\"blue\",shape:\"ring\",text:msg.topic + \": \" + msg.payload});    \n\nreturn msg;","outputs":1,"noerr":0,"x":340.5,"y":553.75,"wires":[["df77af1a.96f9c"]]},{"id":"59868d6c.49ad94","type":"function","z":"c3fd80f0.c3bfb","name":"Current","func":"var rawData = new ArrayBuffer(4);\nvar intView = new Uint16Array(rawData);\nvar fltView = new Float32Array(rawData);\n\nintView[0] = msg.payload[1]; //low\nintView[1] = msg.payload[0]; //high\n\nmsg.payload = parseFloat(fltView[0].toFixed(1));\nmsg.topic = \"current\";\n\nnode.status({fill:\"blue\",shape:\"ring\",text:msg.topic + \": \" + msg.payload});    \n\nreturn msg;","outputs":1,"noerr":0,"x":343.5,"y":614.75,"wires":[["a9397faf.61a2b8"]]},{"id":"d76d1be3.59e67","type":"function","z":"c3fd80f0.c3bfb","name":"Power","func":"var rawData = new ArrayBuffer(4);\nvar intView = new Uint16Array(rawData);\nvar fltView = new Float32Array(rawData);\n\nintView[0] = msg.payload[1]; //low\nintView[1] = msg.payload[0]; //high\n\nmsg.payload = parseFloat(fltView[0].toFixed(1));\nmsg.topic = \"power\";\n\nnode.status({fill:\"blue\",shape:\"ring\",text:msg.topic + \": \" + msg.payload});    \n\nreturn msg;","outputs":1,"noerr":0,"x":333.5,"y":669.75,"wires":[["20b84eca.52e8a2"]]},{"id":"521af0d3.d3482","type":"function","z":"c3fd80f0.c3bfb","name":"Frequency","func":"var rawData = new ArrayBuffer(4);\nvar intView = new Uint16Array(rawData);\nvar fltView = new Float32Array(rawData);\n\nintView[0] = msg.payload[1]; //low\nintView[1] = msg.payload[0]; //high\n\nmsg.payload = parseFloat(fltView[0].toFixed(1));\nmsg.topic = \"frequency\";\n\nnode.status({fill:\"blue\",shape:\"ring\",text:msg.topic + \": \" + msg.payload});    \n\nreturn msg;","outputs":1,"noerr":0,"x":351.5,"y":720.75,"wires":[["9d257a46.5bd6d8"]]},{"id":"6410ae29.e8a978","type":"function","z":"c3fd80f0.c3bfb","name":"Energy","func":"var rawData = new ArrayBuffer(4);\nvar intView = new Uint16Array(rawData);\nvar fltView = new Float32Array(rawData);\n\nintView[0] = msg.payload[1]; //low\nintView[1] = msg.payload[0]; //high\n\nmsg.payload = parseFloat(fltView[0].toFixed(1));\nmsg.topic = \"energy\";\n\nnode.status({fill:\"blue\",shape:\"ring\",text:msg.topic + \": \" + msg.payload});    \n\nreturn msg;","outputs":1,"noerr":0,"x":331.5,"y":775.75,"wires":[["68875ae7.8d8c84"]]},{"id":"d8798519.f6c46","type":"comment","z":"c3fd80f0.c3bfb","name":"CON","info":"","x":101.5,"y":492.75,"wires":[]},{"id":"704b502a.453ec","type":"delay","z":"c3fd80f0.c3bfb","name":"","pauseType":"delay","timeout":"0","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":562.5,"y":109.75,"wires":[["42d0f901.fbffc8"]]},{"id":"11b7adee.64b1da","type":"delay","z":"c3fd80f0.c3bfb","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":557.5,"y":165.75,"wires":[["42d0f901.fbffc8"]]},{"id":"a5520c5b.4af5f","type":"delay","z":"c3fd80f0.c3bfb","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":559.5,"y":223.75,"wires":[["42d0f901.fbffc8"]]},{"id":"ee195717.a0d05","type":"delay","z":"c3fd80f0.c3bfb","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":557.5,"y":282.75,"wires":[["42d0f901.fbffc8"]]},{"id":"34c37254.986076","type":"delay","z":"c3fd80f0.c3bfb","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":558.5,"y":338.75,"wires":[["42d0f901.fbffc8"]]},{"id":"df77af1a.96f9c","type":"delay","z":"c3fd80f0.c3bfb","name":"","pauseType":"delay","timeout":"8","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":551.5,"y":553.75,"wires":[["42d0f901.fbffc8"]]},{"id":"a9397faf.61a2b8","type":"delay","z":"c3fd80f0.c3bfb","name":"","pauseType":"delay","timeout":"9","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":545.5,"y":612.75,"wires":[["42d0f901.fbffc8"]]},{"id":"20b84eca.52e8a2","type":"delay","z":"c3fd80f0.c3bfb","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":544.5,"y":669.75,"wires":[["42d0f901.fbffc8"]]},{"id":"9d257a46.5bd6d8","type":"delay","z":"c3fd80f0.c3bfb","name":"","pauseType":"delay","timeout":"11","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":541.5,"y":720.75,"wires":[["42d0f901.fbffc8"]]},{"id":"68875ae7.8d8c84","type":"delay","z":"c3fd80f0.c3bfb","name":"","pauseType":"delay","timeout":"12","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":540.5,"y":774.75,"wires":[["42d0f901.fbffc8"]]},{"id":"851800c7.6d96b","type":"modbus-client","z":"","name":"FTV","clienttype":"serial","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ftv","serialType":"RTU-BUFFERD","serialBaudrate":"2400","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectTimeout":"2000"},{"id":"8a39d005.83387","type":"MySQLdatabase","z":"","host":"192.168.1.12","port":"3306","db":"ftvdb","tz":""},{"id":"49c51df7.41558c","type":"modbus-client","z":"","name":"CON","clienttype":"serial","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/con","serialType":"RTU-BUFFERD","serialBaudrate":"2400","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectTimeout":"2000"}]
