ftvNodeRedFlowElasticsearc.json
[{"id":"4059e5e9.1f19a4","type":"modbus-read","z":"92a264e7.543438","name":"Voltage","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"InputRegister","adr":"0","quantity":"2","rate":"1","rateUnit":"m","server":"d78e8e16.4cf548","x":67,"y":120,"wires":[["fec55bde.c2bfe"],[]]},{"id":"fec55bde.c2bfe","type":"function","z":"92a264e7.543438","name":"Voltage","func":"var rawData = new ArrayBuffer(4);\nvar intView = new Uint16Array(rawData);\nvar fltView = new Float32Array(rawData);\n\nintView[0] = msg.payload[1]; //low\nintView[1] = msg.payload[0]; //high\n\nmsg.payload = \"ftv_voltage=\"+parseFloat(fltView[0].toFixed(1));\nmsg.topic = \"voltage\";\n\nnode.status({fill:\"blue\",shape:\"ring\",text:msg.topic + \": \" + msg.payload.substring(12)});    \n\nreturn msg;","outputs":1,"noerr":0,"x":231,"y":113,"wires":[["80b448dd.45a5a8"]]},{"id":"cb7f0988.6dc868","type":"modbus-read","z":"92a264e7.543438","name":"Current","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"InputRegister","adr":"6","quantity":"2","rate":"1","rateUnit":"m","server":"d78e8e16.4cf548","x":63,"y":175,"wires":[["bec0f3b1.afcd3"],[]]},{"id":"bec0f3b1.afcd3","type":"function","z":"92a264e7.543438","name":"Current","func":"var rawData = new ArrayBuffer(4);\nvar intView = new Uint16Array(rawData);\nvar fltView = new Float32Array(rawData);\n\nintView[0] = msg.payload[1]; //low\nintView[1] = msg.payload[0]; //high\n\nmsg.payload = \"ftv_current=\"+parseFloat(fltView[0].toFixed(1));\nmsg.topic = \"current\";\n\nnode.status({fill:\"blue\",shape:\"ring\",text:msg.topic + \": \" + msg.payload.substring(12)});    \n\nreturn msg;","outputs":1,"noerr":0,"x":229,"y":168,"wires":[["80b448dd.45a5a8"]]},{"id":"102fbf9c.0cbe5","type":"modbus-read","z":"92a264e7.543438","name":"Power","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"InputRegister","adr":"12","quantity":"2","rate":"1","rateUnit":"m","server":"d78e8e16.4cf548","x":64,"y":233,"wires":[["3f0a1a19.c5e4e6"],[]]},{"id":"3f0a1a19.c5e4e6","type":"function","z":"92a264e7.543438","name":"Power","func":"var rawData = new ArrayBuffer(4);\nvar intView = new Uint16Array(rawData);\nvar fltView = new Float32Array(rawData);\n\nintView[0] = msg.payload[1]; //low\nintView[1] = msg.payload[0]; //high\n\nmsg.payload = \"ftv_power=\"+-1*parseFloat(fltView[0].toFixed(1));\nmsg.topic = \"power\";\n\nnode.status({fill:\"blue\",shape:\"ring\",text:msg.topic + \": \" + msg.payload.substring(10)});    \n\nreturn msg;","outputs":1,"noerr":0,"x":217,"y":226,"wires":[["80b448dd.45a5a8"]]},{"id":"3112515f.a46306","type":"function","z":"92a264e7.543438","name":"Frequency","func":"var rawData = new ArrayBuffer(4);\nvar intView = new Uint16Array(rawData);\nvar fltView = new Float32Array(rawData);\n\nintView[0] = msg.payload[1]; //low\nintView[1] = msg.payload[0]; //high\n\nmsg.payload = \"ftv_frequency=\"+parseFloat(fltView[0].toFixed(1));\nmsg.topic = \"frequency\";\n\nnode.status({fill:\"blue\",shape:\"ring\",text:msg.topic + \": \" + msg.payload.substring(14)});    \n\nreturn msg;","outputs":1,"noerr":0,"x":236,"y":284,"wires":[["80b448dd.45a5a8"]]},{"id":"1cdee68e.382639","type":"function","z":"92a264e7.543438","name":"Energy","func":"var rawData = new ArrayBuffer(4);\nvar intView = new Uint16Array(rawData);\nvar fltView = new Float32Array(rawData);\n\nintView[0] = msg.payload[1]; //low\nintView[1] = msg.payload[0]; //high\n\nmsg.payload = \"ftv_energy=\"+parseFloat(fltView[0].toFixed(1));\nmsg.topic = \"energy\";\n\nnode.status({fill:\"blue\",shape:\"ring\",text:msg.topic + \": \" + msg.payload.substring(11)});    \n\nreturn msg;","outputs":1,"noerr":0,"x":218,"y":342,"wires":[["80b448dd.45a5a8"]]},{"id":"508fc7c7.caea48","type":"modbus-read","z":"92a264e7.543438","name":"Frequnecy","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"InputRegister","adr":"70","quantity":"2","rate":"1","rateUnit":"m","server":"d78e8e16.4cf548","x":71,"y":291,"wires":[["3112515f.a46306"],[]]},{"id":"48eeefca.1bfdd8","type":"modbus-read","z":"92a264e7.543438","name":"Energy","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"InputRegister","adr":"342","quantity":"2","rate":"1","rateUnit":"m","server":"d78e8e16.4cf548","x":62,"y":349,"wires":[["1cdee68e.382639"],[]]},{"id":"80b448dd.45a5a8","type":"join","z":"92a264e7.543438","name":"Collect Data","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"15","count":"10","x":670,"y":460,"wires":[["21eb8405.971214","11474106.c334f7"]]},{"id":"d06d0ac9.26a368","type":"mysql","z":"92a264e7.543438","mydb":"ab15f492.1cfc48","name":"Save Data","x":1090,"y":460,"wires":[[]]},{"id":"21eb8405.971214","type":"function","z":"92a264e7.543438","name":"Set Insert","func":"var setValues = msg.payload;\nmsg.topic='insert into rs485data set '+setValues+';';\n\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":460,"wires":[["d06d0ac9.26a368"]]},{"id":"51dab23f.488b8c","type":"comment","z":"92a264e7.543438","name":"FTV","info":"","x":64.5,"y":48.75,"wires":[]},{"id":"aaa47273.cb1858","type":"modbus-read","z":"92a264e7.543438","name":"Voltage","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"InputRegister","adr":"0","quantity":"2","rate":"1","rateUnit":"m","server":"260dc933.6af8e6","x":64.5,"y":562.25,"wires":[["6b37fa35.c2c364"],[]]},{"id":"c0652856.61185","type":"modbus-read","z":"92a264e7.543438","name":"Current","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"InputRegister","adr":"6","quantity":"2","rate":"1","rateUnit":"m","server":"260dc933.6af8e6","x":62.5,"y":623.25,"wires":[["49a30a09.17f244"],[]]},{"id":"5af7e8be.c59198","type":"modbus-read","z":"92a264e7.543438","name":"Power","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"InputRegister","adr":"12","quantity":"2","rate":"1","rateUnit":"m","server":"260dc933.6af8e6","x":61.5,"y":678.25,"wires":[["d80f5c65.3e4c78"],[]]},{"id":"6c7a9ac8.204d9c","type":"modbus-read","z":"92a264e7.543438","name":"Frequency","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"InputRegister","adr":"70","quantity":"2","rate":"1","rateUnit":"m","server":"260dc933.6af8e6","x":72.5,"y":730.25,"wires":[["9bf60bf0.4c3588"],[]]},{"id":"74a6776c.5fd28","type":"modbus-read","z":"92a264e7.543438","name":"Energy","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"InputRegister","adr":"342","quantity":"2","rate":"1","rateUnit":"m","server":"260dc933.6af8e6","x":63.5,"y":784.25,"wires":[["44610f17.e7cd9"],[]]},{"id":"6b37fa35.c2c364","type":"function","z":"92a264e7.543438","name":"Voltage","func":"var rawData = new ArrayBuffer(4);\nvar intView = new Uint16Array(rawData);\nvar fltView = new Float32Array(rawData);\n\nintView[0] = msg.payload[1]; //low\nintView[1] = msg.payload[0]; //high\n\nmsg.payload = \"con_voltage=\"+parseFloat(fltView[0].toFixed(1));\nmsg.topic = \"voltage\";\n\nnode.status({fill:\"blue\",shape:\"ring\",text:msg.topic + \": \" + msg.payload.substring(12)});    \n\nreturn msg;","outputs":1,"noerr":0,"x":235,"y":556,"wires":[["80b448dd.45a5a8"]]},{"id":"49a30a09.17f244","type":"function","z":"92a264e7.543438","name":"Current","func":"var rawData = new ArrayBuffer(4);\nvar intView = new Uint16Array(rawData);\nvar fltView = new Float32Array(rawData);\n\nintView[0] = msg.payload[1]; //low\nintView[1] = msg.payload[0]; //high\n\nmsg.payload = \"con_current=\"+parseFloat(fltView[0].toFixed(1));\nmsg.topic = \"current\";\n\nnode.status({fill:\"blue\",shape:\"ring\",text:msg.topic + \": \" + msg.payload.substring(12)});    \n\nreturn msg;","outputs":1,"noerr":0,"x":235,"y":617,"wires":[["80b448dd.45a5a8"]]},{"id":"d80f5c65.3e4c78","type":"function","z":"92a264e7.543438","name":"Power","func":"var rawData = new ArrayBuffer(4);\nvar intView = new Uint16Array(rawData);\nvar fltView = new Float32Array(rawData);\n\nintView[0] = msg.payload[1]; //low\nintView[1] = msg.payload[0]; //high\n\nmsg.payload = \"con_power=\"+parseFloat(fltView[0].toFixed(1));\nmsg.topic = \"power\";\n\nnode.status({fill:\"blue\",shape:\"ring\",text:msg.topic + \": \" + msg.payload.substring(10)});    \n\nreturn msg;","outputs":1,"noerr":0,"x":224,"y":672,"wires":[["80b448dd.45a5a8"]]},{"id":"9bf60bf0.4c3588","type":"function","z":"92a264e7.543438","name":"Frequency","func":"var rawData = new ArrayBuffer(4);\nvar intView = new Uint16Array(rawData);\nvar fltView = new Float32Array(rawData);\n\nintView[0] = msg.payload[1]; //low\nintView[1] = msg.payload[0]; //high\n\nmsg.payload = \"con_frequency=\"+parseFloat(fltView[0].toFixed(1));\nmsg.topic = \"frequency\";\n\nnode.status({fill:\"blue\",shape:\"ring\",text:msg.topic + \": \" + msg.payload.substring(14)});    \n\nreturn msg;","outputs":1,"noerr":0,"x":243,"y":723,"wires":[["80b448dd.45a5a8"]]},{"id":"44610f17.e7cd9","type":"function","z":"92a264e7.543438","name":"Energy","func":"var rawData = new ArrayBuffer(4);\nvar intView = new Uint16Array(rawData);\nvar fltView = new Float32Array(rawData);\n\nintView[0] = msg.payload[1]; //low\nintView[1] = msg.payload[0]; //high\n\nmsg.payload = \"con_energy=\"+parseFloat(fltView[0].toFixed(1));\nmsg.topic = \"energy\";\n\nnode.status({fill:\"blue\",shape:\"ring\",text:msg.topic + \": \" + msg.payload.substring(11)});    \n\nreturn msg;","outputs":1,"noerr":0,"x":223,"y":777,"wires":[["80b448dd.45a5a8"]]},{"id":"a04e9f1d.93a7f8","type":"comment","z":"92a264e7.543438","name":"CON","info":"","x":64.5,"y":494.75,"wires":[]},{"id":"c1e1f02f.e2eb48","type":"inject","z":"92a264e7.543438","name":"","topic":"","payload":"{\"query\": {\"match_all\": {} },\"_source\": [\"timestamp\", \"ftvEnergy\", \"conEnergy\"],\"size\" : 1,\"sort\": [{\"timestamp\": {\"order\": \"desc\"}}]}","payloadType":"str","repeat":"60","crontab":"","once":false,"x":85.625,"y":941.5625,"wires":[["e474f525.e44fa"]]},{"id":"e474f525.e44fa","type":"http request","z":"92a264e7.543438","name":"Get Latest Values ","method":"POST","ret":"obj","url":"http://localhost:9200/ftvlogger/_search","tls":"","x":329.375,"y":939.6875,"wires":[["c57c600f.cca78"]]},{"id":"c57c600f.cca78","type":"function","z":"92a264e7.543438","name":"lastEnergy","func":"lastFTVEnergy = 'lastFTVEnergy = '+msg.payload.hits.hits[0]._source.ftvEnergy;\nlastCONEnergy = 'lastCONEnergy = '+msg.payload.hits.hits[0]._source.conEnergy;\n\nnode.status({fill:\"blue\",shape:\"ring\",text: msg.payload.hits.hits[0]._source.ftvEnergy + ' - ' + msg.payload.hits.hits[0]._source.conEnergy});\n\nmsg.payload = lastFTVEnergy+','+lastCONEnergy;\n\nreturn msg;","outputs":1,"noerr":0,"x":606.875,"y":938.4375,"wires":[["11474106.c334f7"]]},{"id":"11474106.c334f7","type":"join","z":"92a264e7.543438","name":"Collect ES Data","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"15","count":"2","x":913.125,"y":936.9375,"wires":[["7cf7447e.78645c"]]},{"id":"7cf7447e.78645c","type":"function","z":"92a264e7.543438","name":"Set ES Data","func":"//get timestamp\nvar date = new Date();\nvar month = date.getMonth() + 1;\nvar day = date.getDate();\nvar hour = date.getHours();\nvar min = date.getMinutes();\nvar sec = date.getSeconds();\nmonth = (month < 10 ? \"0\" : \"\") + month;\nday = (day < 10 ? \"0\" : \"\") + day;\nhour = (hour < 10 ? \"0\" : \"\") + hour;\nmin = (min < 10 ? \"0\" : \"\") + min;\nsec = (sec < 10 ? \"0\" : \"\") + sec;\nvar now = date.getFullYear() + \"-\" + month + \"-\" + day + \" \" +  hour + \":\" + min + \":\" + sec;\n\n//format data\nvar data = '';\nfields = msg.payload.split(',');\nvar arrayLength = fields.length;\nfor (var i = 0; i < arrayLength; i++) {\n    dataParts = fields[i].split('=');\n    var indicator = dataParts[0].replace(/\\ /g ,'');\n    var value = dataParts[1].replace(/\\ /g ,'');\n    if(indicator != 'lastFTVEnergy' && indicator != 'lastCONEnergy'){\n        if(indicator == 'ftv_voltage'){var ESindicator = \"ftvVoltage\";}\n        if(indicator == 'ftv_current'){var ESindicator = \"ftvCurrent\";}\n        if(indicator == 'ftv_power'){var ESindicator = \"ftvPower\";}\n        if(indicator == 'ftv_frequency'){var ESindicator = \"ftvFrequency\";}\n        if(indicator == 'ftv_energy'){\n            var ESindicator = \"ftvEnergy\";\n            var FTVEnergyVal = value;\n        }\n        if(indicator == 'con_voltage'){var ESindicator = \"conVoltage\";}\n        if(indicator == 'con_current'){var ESindicator = \"conCurrent\";}\n        if(indicator == 'con_power'){var ESindicator = \"conPower\";}\n        if(indicator == 'con_frequency'){var ESindicator = \"conFrequency\";}\n        if(indicator == 'con_energy'){\n            var ESindicator = \"conEnergy\";\n            var CONEnergyVal = value;\n        }\n        data = data + ',\"' + ESindicator+'\":'+value;\n    }else{\n        if(indicator == 'lastFTVEnergy'){\n            var lastFTVEnergyVal = value; \n        }else{\n            var lastCONEnergyVal = value; \n        }\n    }\n}\n\ndata = data.substr(1);\nif(lastFTVEnergyVal !== null && lastFTVEnergyVal !== undefined){\n//    node.error(\"lastFTVEnergyVal=\"+lastFTVEnergyVal);\n//    node.error(\"FTVEnergyVal=\"+FTVEnergyVal);\n    diffFTV = FTVEnergyVal-lastFTVEnergyVal;\n    data = data + ',\"diffFTVEnergy\":'+diffFTV.toFixed(1);\n}else{\n    data = data + ',\"diffFTVEnergy\":0';\n}    \nif(lastCONEnergyVal !== null && lastCONEnergyVal !== undefined){\n//    node.error(\"lastCONEnergyVal=\"+lastCONEnergyVal);\n//    node.error(\"CONEnergyVal=\"+CONEnergyVal);\n    diffCON = CONEnergyVal-lastCONEnergyVal;\n    data = data + ',\"diffCONEnergy\":'+diffCON.toFixed(1);\n}else{\n    data = data + ',\"diffCONEnergy\":0';\n}    \n\nmsg.payload = '{' + data + ',\"timestamp\":\"'+ now +'\"}';\n\nreturn msg;","outputs":1,"noerr":0,"x":1150.625,"y":935.9375610351562,"wires":[["c8745c33.3be8c"]]},{"id":"c8745c33.3be8c","type":"http request","z":"92a264e7.543438","name":"Save ES Data","method":"POST","ret":"txt","url":"http://localhost:9200/ftvlogger/rs485data","tls":"","x":1376.875,"y":934.9375,"wires":[[]]},{"id":"f9a526c1.13aa1","type":"comment","z":"92a264e7.543438","name":"ES","info":"","x":63.75,"y":887.5,"wires":[]},{"id":"d78e8e16.4cf548","type":"modbus-client","z":"","name":"FTV","clienttype":"serial","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ftv","serialType":"RTU-BUFFERD","serialBaudrate":"2400","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectTimeout":"2000"},{"id":"ab15f492.1cfc48","type":"MySQLdatabase","z":"","host":"192.168.1.12","port":"3306","db":"ftvdb","tz":""},{"id":"260dc933.6af8e6","type":"modbus-client","z":"","name":"CON","clienttype":"serial","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/con","serialType":"RTU-BUFFERD","serialBaudrate":"2400","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectTimeout":"2000"}]
