ftvNodeRedFlow.json
[{"id":"4059e5e9.1f19a4","type":"modbus-read","z":"92a264e7.543438","name":"Voltage","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"InputRegister","adr":"0","quantity":"1","rate":"1","rateUnit":"m","server":"d78e8e16.4cf548","x":170,"y":120,"wires":[["fec55bde.c2bfe"],[]]},{"id":"fec55bde.c2bfe","type":"function","z":"92a264e7.543438","name":"Voltage","func":"var rawData = new ArrayBuffer(4);\nvar intView = new Uint16Array(rawData);\nvar fltView = new Float32Array(rawData);\n\nintView[0] = msg.payload[1]; //low\nintView[1] = msg.payload[0]; //high\n\nmsg.payload = \"ftv_voltage=\"+parseFloat(fltView[0].toFixed(1));\nmsg.topic = \"voltage\";\n\nnode.status({fill:\"blue\",shape:\"ring\",text:msg.topic + \": \" + msg.payload.substring(12)});    \n\nreturn msg;","outputs":1,"noerr":0,"x":406,"y":113,"wires":[["80b448dd.45a5a8"]]},{"id":"cb7f0988.6dc868","type":"modbus-read","z":"92a264e7.543438","name":"Current","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"InputRegister","adr":"6","quantity":"1","rate":"1","rateUnit":"m","server":"d78e8e16.4cf548","x":166,"y":175,"wires":[["bec0f3b1.afcd3"],[]]},{"id":"bec0f3b1.afcd3","type":"function","z":"92a264e7.543438","name":"Current","func":"var rawData = new ArrayBuffer(4);\nvar intView = new Uint16Array(rawData);\nvar fltView = new Float32Array(rawData);\n\nintView[0] = msg.payload[1]; //low\nintView[1] = msg.payload[0]; //high\n\nmsg.payload = \"ftv_current=\"+parseFloat(fltView[0].toFixed(1));\nmsg.topic = \"current\";\n\nnode.status({fill:\"blue\",shape:\"ring\",text:msg.topic + \": \" + msg.payload.substring(12)});    \n\nreturn msg;","outputs":1,"noerr":0,"x":404,"y":168,"wires":[["80b448dd.45a5a8"]]},{"id":"102fbf9c.0cbe5","type":"modbus-read","z":"92a264e7.543438","name":"Power","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"InputRegister","adr":"12","quantity":"1","rate":"1","rateUnit":"m","server":"d78e8e16.4cf548","x":167,"y":233,"wires":[["3f0a1a19.c5e4e6"],[]]},{"id":"3f0a1a19.c5e4e6","type":"function","z":"92a264e7.543438","name":"Power","func":"var rawData = new ArrayBuffer(4);\nvar intView = new Uint16Array(rawData);\nvar fltView = new Float32Array(rawData);\n\nintView[0] = msg.payload[1]; //low\nintView[1] = msg.payload[0]; //high\n\nmsg.payload = \"ftv_power=\"+-1*parseFloat(fltView[0].toFixed(1));\nmsg.topic = \"power\";\n\nnode.status({fill:\"blue\",shape:\"ring\",text:msg.topic + \": \" + msg.payload.substring(10)});    \n\nreturn msg;","outputs":1,"noerr":0,"x":396,"y":226,"wires":[["80b448dd.45a5a8"]]},{"id":"3112515f.a46306","type":"function","z":"92a264e7.543438","name":"Frequency","func":"var rawData = new ArrayBuffer(4);\nvar intView = new Uint16Array(rawData);\nvar fltView = new Float32Array(rawData);\n\nintView[0] = msg.payload[1]; //low\nintView[1] = msg.payload[0]; //high\n\nmsg.payload = \"ftv_frequency=\"+parseFloat(fltView[0].toFixed(1));\nmsg.topic = \"frequency\";\n\nnode.status({fill:\"blue\",shape:\"ring\",text:msg.topic + \": \" + msg.payload.substring(14)});    \n\nreturn msg;","outputs":1,"noerr":0,"x":411,"y":285,"wires":[["80b448dd.45a5a8"]]},{"id":"1cdee68e.382639","type":"function","z":"92a264e7.543438","name":"Energy","func":"var rawData = new ArrayBuffer(4);\nvar intView = new Uint16Array(rawData);\nvar fltView = new Float32Array(rawData);\n\nintView[0] = msg.payload[1]; //low\nintView[1] = msg.payload[0]; //high\n\nmsg.payload = \"ftv_energy=\"+parseFloat(fltView[0].toFixed(1));\nmsg.topic = \"energy\";\n\nnode.status({fill:\"blue\",shape:\"ring\",text:msg.topic + \": \" + msg.payload.substring(11)});    \n\nreturn msg;","outputs":1,"noerr":0,"x":397,"y":342,"wires":[["80b448dd.45a5a8"]]},{"id":"508fc7c7.caea48","type":"modbus-read","z":"92a264e7.543438","name":"Frequnecy","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"InputRegister","adr":"70","quantity":"1","rate":"1","rateUnit":"m","server":"d78e8e16.4cf548","x":174,"y":291,"wires":[["3112515f.a46306"],[]]},{"id":"48eeefca.1bfdd8","type":"modbus-read","z":"92a264e7.543438","name":"Energy","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"InputRegister","adr":"342","quantity":"1","rate":"1","rateUnit":"m","server":"d78e8e16.4cf548","x":165,"y":349,"wires":[["1cdee68e.382639"],[]]},{"id":"80b448dd.45a5a8","type":"join","z":"92a264e7.543438","name":"Collect Data","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"15","count":"10","x":770,"y":460,"wires":[["21eb8405.971214"]]},{"id":"d06d0ac9.26a368","type":"mysql","z":"92a264e7.543438","mydb":"ab15f492.1cfc48","name":"Save Data","x":1190,"y":460,"wires":[[]]},{"id":"21eb8405.971214","type":"function","z":"92a264e7.543438","name":"Set Insert","func":"var setValues = msg.payload;\nmsg.topic='insert into rs485data set '+setValues+';';\n\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":460,"wires":[["d06d0ac9.26a368"]]},{"id":"51dab23f.488b8c","type":"comment","z":"92a264e7.543438","name":"FTV","info":"","x":167.5,"y":48.75,"wires":[]},{"id":"aaa47273.cb1858","type":"modbus-read","z":"92a264e7.543438","name":"Voltage","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"InputRegister","adr":"0","quantity":"1","rate":"1","rateUnit":"m","server":"260dc933.6af8e6","x":167.5,"y":562.25,"wires":[["6b37fa35.c2c364"],[]]},{"id":"c0652856.61185","type":"modbus-read","z":"92a264e7.543438","name":"Current","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"InputRegister","adr":"6","quantity":"1","rate":"1","rateUnit":"m","server":"260dc933.6af8e6","x":165.5,"y":623.25,"wires":[["49a30a09.17f244"],[]]},{"id":"5af7e8be.c59198","type":"modbus-read","z":"92a264e7.543438","name":"Power","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"InputRegister","adr":"12","quantity":"1","rate":"1","rateUnit":"m","server":"260dc933.6af8e6","x":164.5,"y":678.25,"wires":[["d80f5c65.3e4c78"],[]]},{"id":"6c7a9ac8.204d9c","type":"modbus-read","z":"92a264e7.543438","name":"Frequency","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"InputRegister","adr":"70","quantity":"1","rate":"1","rateUnit":"m","server":"260dc933.6af8e6","x":175.5,"y":730.25,"wires":[["9bf60bf0.4c3588"],[]]},{"id":"74a6776c.5fd28","type":"modbus-read","z":"92a264e7.543438","name":"Energy","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"InputRegister","adr":"342","quantity":"1","rate":"1","rateUnit":"m","server":"260dc933.6af8e6","x":166.5,"y":784.25,"wires":[["44610f17.e7cd9"],[]]},{"id":"6b37fa35.c2c364","type":"function","z":"92a264e7.543438","name":"Voltage","func":"var rawData = new ArrayBuffer(4);\nvar intView = new Uint16Array(rawData);\nvar fltView = new Float32Array(rawData);\n\nintView[0] = msg.payload[1]; //low\nintView[1] = msg.payload[0]; //high\n\nmsg.payload = \"con_voltage=\"+parseFloat(fltView[0].toFixed(1));\nmsg.topic = \"voltage\";\n\nnode.status({fill:\"blue\",shape:\"ring\",text:msg.topic + \": \" + msg.payload.substring(12)});    \n\nreturn msg;","outputs":1,"noerr":0,"x":406.5,"y":555.75,"wires":[["80b448dd.45a5a8"]]},{"id":"49a30a09.17f244","type":"function","z":"92a264e7.543438","name":"Current","func":"var rawData = new ArrayBuffer(4);\nvar intView = new Uint16Array(rawData);\nvar fltView = new Float32Array(rawData);\n\nintView[0] = msg.payload[1]; //low\nintView[1] = msg.payload[0]; //high\n\nmsg.payload = \"con_current=\"+parseFloat(fltView[0].toFixed(1));\nmsg.topic = \"current\";\n\nnode.status({fill:\"blue\",shape:\"ring\",text:msg.topic + \": \" + msg.payload.substring(12)});    \n\nreturn msg;","outputs":1,"noerr":0,"x":409.5,"y":616.75,"wires":[["80b448dd.45a5a8"]]},{"id":"d80f5c65.3e4c78","type":"function","z":"92a264e7.543438","name":"Power","func":"var rawData = new ArrayBuffer(4);\nvar intView = new Uint16Array(rawData);\nvar fltView = new Float32Array(rawData);\n\nintView[0] = msg.payload[1]; //low\nintView[1] = msg.payload[0]; //high\n\nmsg.payload = \"con_power=\"+parseFloat(fltView[0].toFixed(1));\nmsg.topic = \"power\";\n\nnode.status({fill:\"blue\",shape:\"ring\",text:msg.topic + \": \" + msg.payload.substring(10)});    \n\nreturn msg;","outputs":1,"noerr":0,"x":399.5,"y":671.75,"wires":[["80b448dd.45a5a8"]]},{"id":"9bf60bf0.4c3588","type":"function","z":"92a264e7.543438","name":"Frequency","func":"var rawData = new ArrayBuffer(4);\nvar intView = new Uint16Array(rawData);\nvar fltView = new Float32Array(rawData);\n\nintView[0] = msg.payload[1]; //low\nintView[1] = msg.payload[0]; //high\n\nmsg.payload = \"con_frequency=\"+parseFloat(fltView[0].toFixed(1));\nmsg.topic = \"frequency\";\n\nnode.status({fill:\"blue\",shape:\"ring\",text:msg.topic + \": \" + msg.payload.substring(14)});    \n\nreturn msg;","outputs":1,"noerr":0,"x":417.5,"y":722.75,"wires":[["80b448dd.45a5a8"]]},{"id":"44610f17.e7cd9","type":"function","z":"92a264e7.543438","name":"Energy","func":"var rawData = new ArrayBuffer(4);\nvar intView = new Uint16Array(rawData);\nvar fltView = new Float32Array(rawData);\n\nintView[0] = msg.payload[1]; //low\nintView[1] = msg.payload[0]; //high\n\nmsg.payload = \"con_energy=\"+parseFloat(fltView[0].toFixed(1));\nmsg.topic = \"energy\";\n\nnode.status({fill:\"blue\",shape:\"ring\",text:msg.topic + \": \" + msg.payload.substring(11)});    \n\nreturn msg;","outputs":1,"noerr":0,"x":405.5,"y":777.75,"wires":[["80b448dd.45a5a8"]]},{"id":"a04e9f1d.93a7f8","type":"comment","z":"92a264e7.543438","name":"CON","info":"","x":167.5,"y":494.75,"wires":[]},{"id":"d78e8e16.4cf548","type":"modbus-client","z":"","name":"FTV","clienttype":"serial","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ftv","serialType":"RTU-BUFFERD","serialBaudrate":"2400","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectTimeout":"2000"},{"id":"ab15f492.1cfc48","type":"MySQLdatabase","z":"","host":"192.168.1.12","port":"3306","db":"ftvdb","tz":""},{"id":"260dc933.6af8e6","type":"modbus-client","z":"","name":"CON","clienttype":"serial","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/con","serialType":"RTU-BUFFERD","serialBaudrate":"2400","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectTimeout":"2000"}]
